scraped_data/data_avito_1_to_200_pages_2025_04_11__13_38_34.csv
scraped_data/data_avito_201_to_400_pages_2025_04_11__13_38_35.csv
scraped_data/data_avito_401_to_600_pages_2025_04_11__13_38_46.csv
scraped_data/data_avito_601_to_800_pages_2025_04_11__13_11_55.csv
scraped_data/data_avito_801_to_1000_pages_2025_04_11__13_38_44.csv
scraped_data/data_avito_1001_to_1200_pages_2025_04_11__13_38_44.csv
scraped_data/data_avito_1201_to_1400_pages_2025_04_11__13_11_59.csv
scraped_data/data_avito_1401_to_1600_pages_2025_04_11__13_12_03.csv
scraped_data/data_avito_1601_to_1800_pages_2025_04_11__13_12_52.csv
scraped_data/data_avito_1801_to_1933_pages_2025_04_11__13_12_51.csv
scraped_data/merged_avito_data_2025_04_11_14_28_41.csv
scraping_notebooks/data_avito_notebook_1_to_200.ipynb
scraping_notebooks/data_avito_notebook_201_to_400.ipynb
scraping_notebooks/data_avito_notebook_401_to_600.ipynb
scraping_notebooks/data_avito_notebook_601_to_800.ipynb
scraping_notebooks/data_avito_notebook_801_to_1000.ipynb
scraping_notebooks/data_avito_notebook_1001_to_1200.ipynb
scraping_notebooks/data_avito_notebook_1201_to_1400.ipynb
scraping_notebooks/data_avito_notebook_1401_to_1600.ipynb
scraping_notebooks/data_avito_notebook_1601_to_1800.ipynb
scraping_notebooks/data_avito_notebook_1801_to_1933.ipynb
